@import "tailwindcss";

@theme {
  --color-primary-btn: #00afe3;
  --color-secondary-btn: #aac9d2;
  --color-outline-btn: #b3b3b3;
  --color-secondary-bg: #e3f6fc;
  --color-secondary-text: #828282;
  --color-danger: #f74b00;
  --color-disable-btn: #d9d9d9;
  --color-border: #dedede;
}

body {
  font-family: var(--font-poppins), sans-serif;
}
